{% extends 'base.html.twig' %}

{% block body %}
	    {#% include 'slider.html.twig' %#}


    {#% include '_includes/modal_product_color_size.html.twig' %#}

    {% set text = null  %}
    {% set image = null %}
    {% for media in colBanner %}
        {% if media.referenceKey == 'richmedia-page-header-restaurants' %}
            {% set text = media.text %}
            {% set image = media.filename %}
        {% endif %}
    {% endfor %}
  <div class="background-image-header" style="background-image: url('{{image}}')">
    <div class="container">
        <div class="d-flex justify-content-center">
            {{text|raw}}
            <!--div class="header-text-index">
                <h1 class='header-tittle-index'>{{title ?? null}}</h1>
                <h2 class="header-subtittle-index">{{description ?? null}}</h2>
            </div-->
        </div>
    </div>
</div>
<div class="background-index-image" style="padding-top: 15vh; padding-bottom: 100px;">
	<div class="container py-5">
		<div class="row d-flex justify-content-center">
			<i class="mdi-48px mdi mdi-silverware-fork-knife restaurants-icon-style"></i>
		</div>
		<div class="row d-flex justify-content-center">
			<span class="restaurants-under-icon-text">{% trans %}Restaurants{% endtrans %}</span>
		</div>
	</div>


	<div class="container py-5">
		<!--1º ROW-->
		<div class="row">
			<div class="col-12 col-md-6 d-flex align-items-center">
				<div>
				<p class="restaurant-title">RESTAURAÇÃO E SIMILARES<br>O MAIS COMPLETO SOFTWARE PARA O SETOR DE COMIDAS E BEBIDAS</p>
				<p class="restaurant-text">Um software desenhado para ser fiável, fácil de usar e com todas as funcionalidades que necessita, inclusive a integração 100% dos pedidos Glovo e Uber Eats diretamente no POS. Certificado pela Autoridade Tributária e com a garantia de todas as atualizações legalmente exigidas, de forma gratuita e rápida.</p>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<img  class="restaurant-image_01" src="assets/images/img1-restaurants.svg">
			</div>
			<div class="col-12">
				<svg class='restaurant-svg-line-window'>
  					<line x1="500" y1="0" x2="0" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
				<svg class='restaurant-svg-line-mobile'>
  					<line x1="0" y1="0" x2="50" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
			</div>
		</div>
		<!--/1ª ROW -->
		
		<!--2ª ROW-->
		<div class="row">
			<div class="col-12 col-md-6">
				<img class="" style="width: 100%;" src="assets/images/img2-restaurants.svg">
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center py-5 py-md-0">
				<div>
				<p class="restaurant-text">“INTEGRAÇÃO GLOVO E UBER EATS DIRETO NO POS UM ÚNICO BACKOFFICE DE GESTÃO DE PRODUTOS E PREÇOS”</p>
				<p class="restaurant-text">A integração com a Glovo e Uber Eats aumenta a produtividade pois acaba com os erros de faturação, evita a dispersão da informação em vários dispositivos, elimina a necessidade de manutenção de outros softwares e diminui em 90% o tempo de operação, controlo e gestão de pedidos.</p>
				</div>
			</div>

			<div class="col-12">
				<svg class='restaurant-svg-line-window_2'>
  					<line x1="250" y1="0" x2="500" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>

			</div>
				
		</div>
		<!--/2ª ROW-->


		<!--3ª ROW-->

		<div class="row" style="padding-top:150px">
			<div class="col-12">
				<svg class='restaurant-svg-line-window_3'>
  					<line x1="100" y1="200" x2="420" y2="0" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
				<svg class='restaurant-svg-line-mobile_3'>
  					<line x1="50" y1="0" x2="0" y2="250" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
			</div>
			<div class="col-12 col-md-6 d-flex">
				<div>
					<div >
						<p class="restaurant-title">BACKOFFICE COM GESTÃO ONLINE</p>
						<p class="restaurant-text">ZS BMS é um portal online que permite a gestão remota de toda a informação de produtos, stocks, vendas, compras e fornecedores, e o acompanhamento em tempo real do negócio com apresentação de gráficos, mapas e relatórios.</p>
					</div>
					<div class="d-flex justify-content-center align-items-center restaurant-icon_2-content">
							<svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
							  <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
							  
							    <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
							  </g>
							</svg>
							<i class="mdi-48px mdi mdi-silverware-fork-knife restaurant-icon_1-content"></i>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex justify-content-center align-items-center restaurant-mobile-div_1 ">
				<img style="width:300px" src="assets/images/1-restaurant-png.png">
				<div class="restaurant_div_blur">
					<p class="restaurant-title">SEGURANÇA E MOBILIDADE</p>
					<p class="restaurant-text">A informação gerada pelos pontos de venda é sincronizada em tempo real, armazenada na cloud, sem custos adicionais, para que tenha toda a sua informação sempre disponível e segura.</p>
				</div>
			</div>

		</div>
		<!--/3ª ROW-->


		<div class="row">
			<div class="col-12 col-md-6 d-flex align-items-center">
				<div>
					<p class="restaurant-title">DESCONTOS AQUI, ALI E ACOLÁ</p>
					<p class="restaurant-text">Plataforma de fidelização integrada nos softwares Zone Soft. Permite aos clientes obter vantagens num conjunto alargado de pontos de venda e tornar o seu negócio alvo da atenção de milhares de pessoas.</p>
				</div>
			</div>
		</div>
		<!--4ª ROW-->
		<div class="row py-5">
			<div class="col-12 col-md-6 d-flex align-items-center">
				<img class="class-mobile-width-test" src="assets/images/img4-restaurants.svg">
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center">
				<div>
					<p class="restaurant-title">EMENTA DIGITAL + REGISTO DE PEDIDOS + APRESENTAÇÃO DE CONTA + QUESTIONÁRIO</p>
					<p class="restaurant-text">Novo serviço totalmente integrado no software ZS REST. Apresente todos os seus produtos num tablet android, e proporcione um serviço mais rápido e eficiente.</p>
				</div>
			</div>
			<div class="col-12">
				<svg class='restaurant-svg-line-window_4'>
  					<line x1="0" y1="0" x2="450" y2="200" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
			</div>

		</div>
		<!--/4ª ROW-->

		<!--5ª ROW-->
		<div class="row py-5">
			<div class="col-12">
				<svg class='restaurant-svg-line-window_5'>
  					<line x1="0" y1="210" x2="420" y2="0" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center">
				<div>
					<p class="restaurant-title">EMENTA DIGITAL</p>
					<p class="restaurant-text">•Visualização de produtos, comentários, famílias e subfamílias.<br>•Possibilidade do cliente realizar o seu pedido com validação pelo empregado.</p>
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
				<div class="d-flex justify-content-center align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
							  <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
							  
							    <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
							  </g>
							</svg>
							<i class="mdi-48px mdi mdi-silverware-fork-knife restaurant-icon_1-content icon-mobile"></i>
					</div>
			</div>

		</div>
		<!--/5ª ROW-->


		<!--6ª ROW-->
		<div class="row py-5">
			<div class="col-12">
				<svg class='restaurant-svg-line-mobile_5'>
  					<line x1="0" y1="0" x2="0" y2="200" style="stroke:rgb(115,115,115);stroke-width:1" />
				</svg>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
				<div class="d-flex justify-content-center align-items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="232" height="232" viewBox="0 0 232 232">
							  <g id="Caminho_618" data-name="Caminho 618" fill="#fff">
							  
							    <path d="M 116 1 C 108.1967315673828 1 100.398681640625 1.786087036132813 92.82244873046875 3.336410522460938 C 85.43923950195313 4.84722900390625 78.1768798828125 7.101593017578125 71.23712158203125 10.03684997558594 C 64.42311096191406 12.9189453125 57.85090637207031 16.4862060546875 51.703125 20.63958740234375 C 45.61343383789063 24.75370788574219 39.88694763183594 29.47850036621094 34.6827392578125 34.6827392578125 C 29.47850036621094 39.88694763183594 24.75370788574219 45.61343383789063 20.63958740234375 51.703125 C 16.4862060546875 57.85090637207031 12.9189453125 64.42311096191406 10.03684997558594 71.23712158203125 C 7.101593017578125 78.1768798828125 4.84722900390625 85.43923950195313 3.336410522460938 92.82244873046875 C 1.786087036132813 100.398681640625 1 108.1967315673828 1 116 C 1 123.6597671508789 1.7574462890625 131.3207397460938 3.251266479492188 138.7700805664063 C 4.705764770507813 146.0234375 6.875411987304688 153.1638793945313 9.699859619140625 159.9930572509766 C 12.47064208984375 166.6924438476563 15.89878845214844 173.1592407226563 19.88905334472656 179.2137603759766 C 23.83811950683594 185.2058258056641 28.37088012695313 190.8448791503906 33.36143493652344 195.9742889404297 C 38.63546752929688 201.3953552246094 44.4454345703125 206.3152008056641 50.62994384765625 210.59716796875 C 56.86805725097656 214.916259765625 63.54347229003906 218.625 70.47073364257813 221.6203308105469 C 77.51968383789063 224.6682586669922 84.90299987792969 227.0087890625 92.41555786132813 228.5769348144531 C 100.1183471679688 230.1847686767578 108.0532913208008 231 116 231 C 123.8032684326172 231 131.601318359375 230.2139129638672 139.1775512695313 228.6635894775391 C 146.5607604980469 227.1527709960938 153.8231201171875 224.8984069824219 160.7628784179688 221.9631500244141 C 167.5768737792969 219.0810546875 174.1490936279297 215.5137939453125 180.296875 211.3604125976563 C 186.3865661621094 207.2462921142578 192.1130676269531 202.5214996337891 197.3172607421875 197.3172607421875 C 202.5214996337891 192.1130676269531 207.2462921142578 186.3865661621094 211.3604125976563 180.296875 C 215.5137939453125 174.1490936279297 219.0810546875 167.5768737792969 221.9631500244141 160.7628784179688 C 224.8984069824219 153.8231201171875 227.1527709960938 146.5607604980469 228.6635894775391 139.1775512695313 C 230.2139129638672 131.601318359375 231 123.8032684326172 231 116 C 231 108.1967315673828 230.2139129638672 100.398681640625 228.6635894775391 92.82244873046875 C 227.1527709960938 85.43923950195313 224.8984069824219 78.1768798828125 221.9631500244141 71.23712158203125 C 219.0810546875 64.42311096191406 215.5137939453125 57.85090637207031 211.3604125976563 51.703125 C 207.2462921142578 45.61343383789063 202.5214996337891 39.88694763183594 197.3172607421875 34.6827392578125 C 192.1130676269531 29.47850036621094 186.3865661621094 24.75370788574219 180.296875 20.63958740234375 C 174.1490936279297 16.4862060546875 167.5768737792969 12.9189453125 160.7628784179688 10.03684997558594 C 153.8231201171875 7.101593017578125 146.5607604980469 4.84722900390625 139.1775512695313 3.336410522460938 C 131.601318359375 1.786087036132813 123.8032684326172 1 116 1 M 116 0 C 180.0650329589844 0 232 51.93496704101563 232 116 C 232 180.0650329589844 180.0650329589844 232 116 232 C 83.39091491699219 232 53.92446899414063 218.5446166992188 32.64468383789063 196.6716156005859 C 12.52052307128906 175.9875335693359 0 147.4559326171875 0 116 C 0 51.93496704101563 51.93496704101563 0 116 0 Z" stroke="none" fill="#707070"/>
							  </g>
							</svg>
							<i class="mdi-48px mdi mdi-silverware-fork-knife restaurant-icon_1-content icon-mobile"></i>
					</div>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center py-3 py-lg-0">
				<div>
					<p class="restaurant-title">REGISTO DE PEDIDOS</p>
					<p class="restaurant-text">•Possibilidade de realizar todos os pedidos dos clientes na mesa, com envio para a cozinha.<br>•Impressão de consulta de mesa (impressora Bluetooth ou outra).</p>
				</div>
			</div>

		</div>
		<!--/6ª ROW-->

		<!--7ª ROW-->
		<div class="row py-5">
			<div class="col-12 col-md-6 d-flex">
				<div>
					<p class="restaurant-title">APRESENTAÇÃO DE CONTA</p>
					<p class="restaurant-text">•Apresentação de conta a cliente.<br>•Fecho de conta com dados do cliente.<br>•Verificação de conta pelo cliente.<br>•Introdução dos dados fiscais para fatura.<br>•Programa de fidelização freebee®.<br>•Impressão de fatura (impressora Bluetooth ou outra).<br>•Envio de documento para AT (opcional).<br>•Disponível pagamentos com carteiras virtuais (Meo Wallet e MB Way).</p>
				</div>
			</div>
			<div class="col-12 col-md-6 d-flex align-items-center justify-content-end py-5 my-5">
				<img src="assets/images/2-restaurant-png.png" width='480'>
				<div class='restaurant-text-with-img'>
					<p class="restaurant-title">QUESTIONÁRIO</p>
					<p class="restaurant-text">•Questionário totalmente personalizado por si.<br>•Relatório de resultados.</p>
				</div>
			</div>
		</div>
		<!--/7ª ROW-->

		<!--8ª ROW-->
		<div class="row mt-5 mt-md-0 py-5">
			<div class="col-12 col-md-6">
				<div>
					<p class="restaurant-title">AUTORIDADE TRIBUTÁRIA<br>COMUNICAÇÃO EM TEMPO REAL</p>
					<p class="restaurant-text">Se a fatura já está com o cliente porque não estar também com a AT?<br>Software certificado pela AT, com opção de comunicar as faturas em tempo real.</p>
				</div>
			</div>
		</div>
		<!--/8ª ROW-->

		<!--9ª ROW-->
		<div class="row py-5">
			<div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
				<img src="assets/images/img5-restaurants.svg">
				<div class="restaurant-div-blur_2 d-flex align-items-center">
					<div>
					<p>GADGETS<br>LIGUE TODOS OS EQUIPAMENTOS</p>
					<p>Ligação a balanças, PDAs, TPAs, monitores de cozinha, monitores de publicidade, tablets e smartphones.GADGETS</p>
					</div>
				</div>

			</div>
			<div class="col-12 col-md-6 pt-5 pt-md-0">
					<div>
					<p class="restaurant-title">PAGAMENTOS MÓVEIS UM NOVO MEIO DE PAGAMENTO</p>
					<p class="restaurant-text">Integração nativa do serviço MB WAY e das carteiras virtuais MEO Wallet e SEQR Wallet nos softwares Zone Soft, para que possa disponibilizar os meios de pagamento mais inovadores.</p>
					</div>
			</div>
		</div>
		<!--/9ª ROW-->

		<!--10ª ROW-->
		<div class="row d-flex justify-content-end py-5">
			<div class="col-12 col-md-6">
				<div class="py-5 py-md-2">
					<p class="restaurant-title">Requisitos mínimos para utilização do software ZS REST:</p>
					<p class="restaurant-text">– Processador de 2.0 GHz Quad Core ou superior.<br>– 4 GB de RAM de memoria.<br>– 2 GB de espaço disponível no disco rígido.<br>– Sistema operativo Windows 7 SP1 ou Superior.<br>– Ligação à internet.</p>
				</div>
				<div class="py-5 py-md-2">
					<p class="restaurant-title">Requisitos mínimos para utilização da aplicação ZS REST APP:</p>
					<p class="restaurant-text">– Sistema operativo aindroid versão 5 ou superior.<br>– Wi-fi.</p>
				</div>
				<div class="py-5 py-md-2">
					<p class="restaurant-title">Requisitos mínimos para utilização da aplicação ZMonitor:</p>
					<p class="restaurant-text">– Sistema operativo aindroid versão 4.4 ou superior.<br>– Wi-fi.</p>
				</div>
			</div>
		</div>
		<!--/10ª ROW-->
	</div>





	<div class="container py-5">
			{% include '_render_block/doubts-send-email.html.twig' %}
	</div>
</div>

     
{% endblock %}

{% block  javascript %}
{% endblock %}