

@font-face {
	font-family: 'MuseoModerno';
	src: url('/assets/css/MuseoModerno.ttf')  format('truetype'), url('/assets/css/MuseoModerno.woff')  format('woff'), url('/assets/css/MuseoModerno.woff2')  format('woff2'), url('/assets/css/MuseoModerno.eot')  format('eot'),url('/assets/css/MuseoModerno.otf')  format('otf'); 
}

body {
	height: 100%;
	margin: 0px;
    font: 16px/28px "MuseoModerno", sans-serif !important;}
.card-header .card-message {
	text-align: left;
}

.form-group LABEL {
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 2px;
	font-size: 90%;
}

.form-title {
	background-color: #ccc;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
}

.section-min-height {
	min-height: 500px;
}

.product-category-list-limit-char {
	max-width: 20ch;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#body_loading_first {
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	top:0;
	opacity:0.5;
	background-color:#000;
	color:#fff;
	z-index:9999;
}

.body-loading-load {
	height: 100%;
	width: 100%;
}
.language-style .dropdown-menu{
	min-width: 0 !important;
}




/*Mycode*/
/*mobile*/
@media only screen and (max-width: 770px) {
	.text-Services{
	font-size: 17px !important;
    line-height: 23px !important;

}
	.about-us-bg-content{
	padding-top: 25px !important;
    padding-bottom: 40px !important;
    padding-right: 25px !important; 
    padding-left: 25px !important;
	}
	.about-us-plus-info {
		position: static !important;
	}
	.about-us-squares-position{
		position: static !important;
		top: 0 !important;
		left:0 !important;
	}
	.icon-about-us::before{
		position: relative !important;
    transform: translateX(0px) !important;
    left: 18px !important;
    top: 27px !important;
	}
 .header-tittle-index{
 	font-size: 43px !important;
 }
 .header-subtittle-index{
 	font-size: 22px !important;
 }
 .card-main .card-text{
 	font-size: 12px;
 }
 .card-main .card-title{
 	font-size: 12px;
 }
 .card-video{
		height:180px !important;
	}
.class-mobile-width-test{
	width:200px;
}
.restaurant-div-blur_2{
	position: relative !important;
    top: 0 !important;
    left: 0 !important;
}
.restaurant-svg-line-mobile{
	display: block !important;
    z-index: -1;
    position: absolute !important;
    width: 50px;
    top: -140px;
    left: 302px;
}
.taxis-svg-line-mobile{
	    display: block !important;
    z-index: -1;
    position: absolute !important;
    width: 50px;
    height: 50px;
    top: -1px;
    left: 50%;
}
.clothing-svg-line-mobile{
	    display: block !important;
    z-index: -1;
    position: absolute !important;
    width: 50px;
    height: 200px;
	top: -146px;
    left: 180px;
}

.restaurant-mobile-div_1{
	margin-bottom: 450px;
}
.restaurant-icon_2-content{
	position: absolute !important;
	top: 1100px !important;
}
.restaurant-svg-line-mobile_3{
	display: block !important;
    z-index: -1;
    position: absolute !important;
    width: 50px;
    top: 940px;
    left: 129px;
}
.restaurant-svg-line-mobile_5{
	display: block !important;
    z-index: -1;
    position: absolute !important;
    width: 1px;
    height: 97px;
    top: -96px;
    left: 50%;
}
.restaurant-text-with-img{
	position: absolute;
    top: 100% !important;
    width: 80% !important;
    left: 50% !important;
    transform: translateX(-50%);
}
.clothing-store-img{
	width: 100% !important;
}
.clothing-img-mobile{
	position: absolute;
	top: calc(100% + 350px);
}
.clothing-mobile-padding-bot{
	padding-bottom: 350px;
}

}
@media only screen and (max-width:770px){
    .card-video{
		height: 288px;
	}
}
@media only screen and (max-width: 989px){
	.card-secondary{
        display:none;
	}
	.card-main{
		position: relative !important;
		width: 100%;
		height:auto;
        
	}
	.card-main .card-title{
		/*font-size: 12px;*/
		margin-top: 15px;
	}
	
	.card-main .card-text{
		/*font-size: 12px;*/
		margin-left:15px;
		margin-right:15px;
	}
	.play-symbol{
		width:30%;
		transform: translate(-35%,50%) !important;
	}
    .card-video{
		height:400px;
	}
	.seta-esquerda{
		display: block !important;
	}
	.seta-direita{
		display: block !important;
	}

	.restaurant-title{
		font-size: 12px;
	}
	.restaurant-text{
		font-size: 15px;
	}
	.restaurant-svg-line-window{
		display: none !important;

	}
	.clothing-svg-line-window{
		display: none !important;
	}
	.plumbers-svg-line-window{
		display: none !important;
	}
	.taxis-svg-line-window{
		display: none !important;
	}
	.taxis-svg-line-window_2{
		display: none !important;
	}
	.taxis-svg-line-window_3{
		display: none !important;
	}
	.taxis-svg-line-window_4{
		display: none !important;
	}
	.taxis-svg-line-window_5{
		display: none !important;
	}
	.taxis-svg-line-window_6{
		display: none !important;
	}
	.clothing-svg-line-window_2{
		display: none !important;
	}
	.plumbers-svg-line-window_2{
		display: none !important;
	}
	.clothing-svg-line-window_3{
		display: none !important;
	}
	.plumbers-svg-line-window_3{
		display: none !important;
	}
	.plumbers-svg-line-window_5{
		display:none !important;
	}
	.clothing-svg-line-window_4{
		display: none !important;
	}
	.plumbers-svg-line-window_4{
		display: none !important; 
	}
	.restaurant-svg-line-window_2{
		display: none !important;
	}
	.restaurant-svg-line-window_3{
		display: none !important;
	}
	.restaurant-svg-line-window_4{
		display: none !important;
	}
	.restaurant-svg-line-window_5{
		display: none !important;
	}
}
@media only screen and (max-width: 1200px){
	.restaurant-svg-line-window_4{
		display: none !important;
	}
	.restaurant-svg-line-window_5{
		display: none !important;
	}
	.clothing-svg-line-window_2{
			width: 400px !important;
	}  
	.plumbers-svg-line-window{
		width: 500px !important;
    	height: 187px !important;
    	top: -123px !important;
    	left: 170px !important;
	}
	.plumbers-svg-line-window_2{
		    left: 257px !important;
			width: 212px !important;
	}
	.clothing-svg-line-window_3{
			width: 340px !important;
	}    
	.plumbers-svg-line-window_3{
		left: 302px !important;
		width: 218px !important; 
	}
	.plumbers-svg-line-window_5{
		left: 302px !important;
    	width: 324px !important;
	}
	.clothing-svg-line-window_4{
			width: 340px !important;
	}    
	.plumbers-svg-line-window_4{
		    top: -394px !important;
		    width: 208px !important;
	}
	.taxis-svg-line-window{
		left: 219px !important;
	}
	.taxis-svg-line-window_2{
		    left: 367px !important;
		    top: -574px !important;
		    width: 312px !important;
	}
	.taxis-svg-line-window_3{
		    width: 355px !important;
		    left: 491px !important;
	}
	.taxis-svg-line-window_4{
		    width: 218px !important;
    		left: 491px !important;
	}
	.taxis-svg-line-window_5{
		left: 516px !important;
		top: -443px !important;
	}
	.taxis-svg-line-window_6{
		top: -269px !important;
    	left: 57px !important;
	}
}
.menu-mobile-link :nth-child(2){
border-top: 1px solid white !important;
border-bottom: 1px solid white !important;
}

.menu-mobile-link a{
	font-family: 'MuseoModerno' !important;
}
/*COLORS*/
.bg-color-black{
	background-color: #222327 !important;
}


.btn-speak-with-us{
	position: fixed;
	right:31px;
	width: 56px;
	height: 56px;
	background-color: #8ac926;
	list-style-type:none;
	box-shadow: 0px 3px 6px 0px #000000;

}

.btn-speak-with-us i{
	color: white;
	position: center;
}
.dropleft-speak-with-us{
	display: none;
	position: fixed;
	right: 88px;
	top: 53px;
	width:168px;
	height:56px;
	background-color: #8ac926;
	box-shadow: 0px 3px 6px 0px #000000;
	animation-name: anim-dropleft;
	animation-duration: 0.2s; 
}

.btn-speak-with-us:hover i{

	
	animation-name: rotateIcon;
	animation-duration: 0.2s;
}

.btn-speak-with-us:hover .dropleft-speak-with-us{
	display: block !important;

}
/*animation speak with us*/
@keyframes anim-dropleft{
	from{ opacity: 0; }
	to{ opacity: 1 ; }
}
/* animation icon speak with us*/

@keyframes rotateIcon {
	from{ transform: rotate(0deg); }
	to{
		transform: rotate(120deg);
	}
}
.box-speak-with-us{
	display: inline-block;
	position: absolute;
    left: 56px;
	width: 56px !important;
	height: 56px !important;
	box-shadow: 0px 2px 3px 0px #000000;
	z-index: 1;
}
.box-speak-with-us-rigth{
	display: inline-block;
	position: absolute;
    left: 112px;
	width: 56px !important;
	height: 56px !important;
	
	/*border-right: 1px solid #000000;*/	
}
.text-speak-with-us{
	left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
	position: absolute;
	text-transform: uppercase;
	font-family: "MuseoModerno" !important;
	font-weight: 600;
	color: white;
	text-align: center;
	z-index: 2;

}
.mobile-menu-speak-with-us{
	width: auto;
	background-color:  #8ac926;
	text-transform: uppercase;
	box-shadow: 0px 3px 6px 0px #000000;
}
.mobile-menu-speak-with-us a{
	font-size: 17px !important;
	color: white !important;
	text-align: center;
}
.background-image-header{
	position: relative;
	color: white !important;
	width: auto;
	height: 85vh;
	/*margin-bottom: 15vh;*/
	background-image: url('/assets/images/background-image-index.svg');
	background-position: center;
	background-size: cover;
}

.menu-link-font{
	color: white !important;
	font-size: 17px !important;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'MuseoModerno' !important;
}
.svg-logo-image{
	width: 150px !important;
}
.navbar-style{
	position: absolute;
	width: 100%;
	z-index: 9;
}
.header-text-index{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.header-tittle-index{
	text-align: center;
	font-weight: 350;
	color: white;
	font-size: 61px;
}
.header-subtittle-index{
	text-align: center;
	font-weight: 350;
	color: white;
	font-size: 43px;
}
.tittle-body-index{
	font-family: 'MuseoModerno';
	font-size: 26px;
	font-weight: bold;
	color: #000000;
}
.subtittle-body-index{
	font-family: 'MuseoModerno';
	font-size: 26px;
	font-weight: lighter;
	color: #000000;
}
.index-img-restauration{
	cursor: pointer;
	width: 226px !important;
	height: 226px !important;
}
.index-img-restauration:hover{
	/*background-image: url('/assets/images/negocios-index-hover.svg') !important;*/
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}
.index-img-retail{
	cursor: pointer;
	width: 226px !important;
	height: 226px !important;
}
.index-img-retail:hover{
	/*background-image: url('/assets/images/negocios-index-hover.svg') !important;*/
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}
.index-img-services{
	cursor: pointer;
	width: 226px !important;
	height: 226px !important;
}
.index-img-services:hover{
	/*background-image: url('/assets/images/negocios-index-hover.svg') !important;*/
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}

.index-img-mobile{
	cursor: pointer;
	width: 226px !important;
	height: 226px !important;
}
.index-img-mobile:hover{
	/*background-image: url('/assets/images/negocios-index-hover.svg') !important;*/
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}

.index-img-health{
	cursor: pointer;
	width: 226px !important;
	height: 226px !important;
}
.index-img-health:hover{
	/*background-image: url('/assets/images/negocios-index-hover.svg') !important;*/
	animation-name: anim-fail;
	animation-duration: 0.07s;
	/*animation-iteration-count: 3;*/
}
@keyframes anim-fail {
	from{
		/*background-image: url('assets/images/negocios-index.svg');*/
		opacity: 0;
}

	to{
		/*background-image: url('assets/images/negocios-index-hover.svg');*/
		opacity: 1;
	}

}


.language-links-menu{
	    font-family: 'MuseoModerno' !important;
}
.language-links-menu:hover{
	color: white !important;
	background-color: #222327 !important; 
}


.index-restoration{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #8019B3;
}
.index-retail{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#8ac926;
}
.index-services{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #ffc31f;
}
.index-mobile{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #fb5223;
}

.index-health{
	text-transform: uppercase;
	font-family: 'MuseoModerno', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #1985a1;
}

.index-icon-restoration::before{
	font-size: 85px !important;
	margin:5px;
	color: #8019B3;
}

.index-icon-retail::before{
	font-size: 85px !important;
	margin:5px;
	color: #8ac926;
}
.index-icon-services::before{
	font-size: 85px !important;
	margin:5px;
	color: #ffc31f;
}
.index-icon-mobile::before{
	font-size: 85px !important;
	margin:5px;
	color: #fb5223;
}
.index-icon-health::before{
	font-size: 85px !important;
	margin:5px;
	color: #1985a1;
}
.item-index p{
	font-size:17px;
}
.item-index{
	cursor: pointer;
	transition: transform 0.4s;
}


.item-index:hover .img-squares{
	opacity: 1;
	animation-name: anim-fail;
	animation-duration: 0.4s;
	/*opacity: 1;*/
	/*font-family: 25px !important;*/
}
.img-squares{
	width: 40px;
    position: absolute;
    top: -35px;
    left: calc(50% + 30px);
    opacity: 0;
    z-index: 1;
}

.item-index:hover .img-squares-retail{
	opacity: 1;
	animation-name: anim-fail;
	animation-duration: 0.4s;
	/*opacity: 1;*/
	/*font-family: 25px !important;*/
}
.img-squares-retail{
	width: 60px;
    position: absolute;
    top: -35px;
    left: calc(50%);
    opacity: 0;
    z-index: 1;
}

.item-index:hover .img-squares-services{
	opacity: 1;
	animation-name: anim-fail;
	animation-duration: 0.4s;
	/*opacity: 1;*/
	/*font-family: 25px !important;*/
}
.img-squares-services{
	width: 40px;
    position: absolute;
    top: -35px;
    left: calc(50%);
    opacity: 0;
    z-index: 1;
}

.item-index:hover .img-squares-mobile{
	opacity: 1;
	animation-name: anim-fail;
	animation-duration: 0.4s;
	/*opacity: 1;*/
	/*font-family: 25px !important;*/
}
.img-squares-mobile{
	width: 60px;
    position: absolute;
    top: -50px;
    left: calc(50%);
    opacity: 0;
    z-index: 1;
}

.item-index:hover .img-squares-health{
	opacity: 1;
	animation-name: anim-fail;
	animation-duration: 0.4s;
	/*opacity: 1;*/
	/*font-family: 25px !important;*/
}
.img-squares-health{
	width: 40px;
    position: absolute;
    top: -35px;
    left: calc(50%);
    opacity: 0;
    z-index: 1;
}


.item-index:hover {
	transform: scale(1.2);
}
.col-xl-1_5{
	position:relative;
	width:100%;
	padding-right:15px;
	padding-left:15px;
	-ms-flex:0 0 12.5%;
	flex:0 0 12.5%;
	max-width: 12.5%;
}

.background-index-image{
	/*background-color: orange;*/
	margin:0 ;
	background-image: url(/assets/images/background-image-index1.svg);
	background-position: center;
	background-size: 100vw;
}
.title_services{
	font-family: 'MuseoModerno', sans-serif;
	font-size: 55px;
	text-transform: uppercase;
}
.card-main{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-20px);
	width: 691px;
	height: auto;
	background-color: white;
	border: 1px solid #c1c1c1;
	box-shadow: 3px 3px 7px 0px #707070;
	z-index: 2;
}
.card-secondary{
 	width: 50%;
	background-color: white;
	border: 1px solid #c1c1c1;	
	box-shadow: 3px 3px 7px 0px #707070;
}
.card-secondary video{
	max-height: 60%;
}
.card-secondary .card-under-image{
	max-height: 40%;
}
.card-secondary .card-title{
	 overflow-wrap: break-word;
	font-size: 12px;
	margin-top: 25px;
}
.card-secondary .card-text{
	font-size: 12px;
	margin-bottom: 50px !important;
}
.card-img{
	cursor: pointer; 
	opacity: 0.5;
}

.card-video{
	width: 100%;
    height: 417px;
}
.card-title{
	margin-top: 50px;
	margin-left: 40px;
	margin-right:40px;
	font-size: 15px;
	font-weight: bold;
}
.card-text{
	    overflow-wrap: break-word;
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
	margin-bottom: 40px !important;
	margin-left: 40px;
	margin-right: 40px;
}
.play-symbol{
	cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-35%, 85%);
}
.icon-to-close-video{
	position: absolute;
    left: 100%;
    transform: translateY(-75%);
    cursor: pointer;
}

.seta-esquerda{
	display: none;
	position:absolute;
	cursor:pointer;
    left:0px;

}
.seta-direita{
	display: none;
	position:absolute;
	cursor:pointer;
	right: 0px;
}
.background-footer{
	padding-top: 20vh ;
	padding-bottom: 50vh;
	padding-left: 20%;
	padding-right: 20%;
	background-color: #8019b3;
	background-image: url(/assets/images/foot-background-image_2.svg);
	background-position: center;
	background-size: 100vw;
	background-repeat: repeat-y;
}

.credits-footer{
    transform: translateY(30px);
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}


.anim_squares{
	width:280px;
	height: 420px;
	border: 1px solid #c1c1c1;
}

.square{
	background-color: #fff;
	position: relative;
	margin:0;
	display: block;
	width:70px;
	height:70px ;
	border:1px solid #c1c1c1;
	filter: blur(30px) brightness(15) opacity(0);
}
.title-customer-page{
	color: #8019B3;
	font-size: 43px;
	font-weight: bold;
}
.second-title-customer-page{
	font-size: 43px;
	font-weight: lighter;
	color: #8019B3;
}
.image-device-customer-page{
	height: 144px;
	margin:50px;
}
.btn-submit-customer{
	font-size: 20px;
		width: 230px;
	height:60px;
	background-color: #8AC926;
    color: white;
    border: 1px solid #707070;
}
.btn-submit-customer:hover{
	color:white;

}
.background-footer-down{
	height: 90px;
    /* padding-top: 20vh; */
    /* padding-bottom: 20vh; */
    padding-left: 20%;
    padding-right: 20%;
    background-color: #8019b3;
    background-image: url(/assets/images/foot-background-image_2.svg);
    background-position: center;
    background-size: 100vw;
    background-repeat: repeat-y;
}
.restaurants-icon-style::before{
	color: #8019b3;
	font-size: 116px !important;
}
.clothing-store-icon-style::before{
	color: #8ac926;
	font-size: 116px !important;
}
.plumbers-store-icon-style::before{
	color: #ffc31f;
	font-size: 116px !important;
}
.taxis-store-icon-style::before{
	color: #fb5223;
	font-size: 116px !important;
}
.restaurants-under-icon-text{
	font-weight: bold;
	font-size: 24px;
}
.restaurant-title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	font-family: arial;
	line-height: initial;
}
.restaurant-text{
	font-family: arial;
	font-size: 20px;
	line-height: initial;
}
.restaurant-image_01{
	width:100%;

}
.restaurant-icon_1-content{
	position: absolute;
}
.restaurant-icon_1-content:before{
	font-size:70px !important;
	color: #8019b3;
}
.clothing-icon_1-content{
	position: absolute;
}

.clothing-icon_1-content::before{
	font-size:70px !important;
	color: #8ac926;
}
.plumbers-icon_1-content{
	position: absolute;
}

.plumbers-icon_1-content::before{
	font-size:70px !important;
	color: #ffc31f;
}

.taxis-icon_1-content{
	position: absolute;
}

.taxis-icon_1-content::before{
	font-size:70px !important;
	color: #fb5223;
}

.restaurant_div_blur{
	position: absolute;
    top: 55%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(100px);
    padding: 25px;
}
.restaurant-text-with-img{
	    position: absolute;
    top: 55%;
    width: 50%;
    left: 0;
}
.restaurant-div-blur_2{
	position: absolute;
    width: 600px;
    height: 446px;
    top: 140px;
    left: 60%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);
    padding: 25px;
}
.restaurant-icon_2-content{
	position: relative;
    top: 200px;
}
.class-mobile-width-test{
	width:100%;
}
.restaurant-svg-line-window{
	display: block;
    z-index: -1;
    position: absolute;
    width: 600px;
    top: -129px;
    left: 204px;

}
.clothing-svg-line-window{
	display: block;
    z-index: -1;
    position: absolute;
    width: 600px;
    height: 187px;
    top: -129px;
    left: 204px;
}
.plumbers-svg-line-window{
	display: block;
    z-index: -1;
    position: absolute;
    width: 600px;
    height: 187px;
    top: -129px;
    left: 204px;
}
.taxis-svg-line-window{
	display: block;
    z-index: -1;
    position: absolute;
    width: 600px;
    height: 198px;
    top: -114px;
    left: 264px;
}
.taxis-svg-line-window_2{
	display: block;
    z-index: -1;
    position: absolute;
    width: 370px;
    height: 198px;
    top: -545px;
    left: 438px;
}
.taxis-svg-line-window_3{
	display: block;
    z-index: -1;
    position: absolute;
    width: 459px;
    height: 198px;
    top: -296px;
    left: 568px;
}
.taxis-svg-line-window_4{
	    display: block;
    z-index: -1;
    position: absolute;
    width: 301px;
    height: 198px;
    top: -231px;
    left: 548px;
}
.taxis-svg-line-window_5{
	display: block;
    z-index: -1;
    position: absolute;
    width: 301px;
    height: 324px;
    top: -499px;
    left: 662px;
}
.taxis-svg-line-window_6{
	display: block;
    z-index: -1;
    position: absolute;
    width: 253px;
    height: 324px;
    top: -289px;
    left: 167px;
}
.clothing-svg-line-window_2{
	display: block;
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 249px;
    top: -122px;
    left: 76px;
}
.clothing-svg-line-window_3{
	display: block;
    z-index: -1;
    position: absolute;
	width: 430px;
    height: 249px;
    top: 186px;
    left: 196px;
}
.plumbers-svg-line-window_3{
	display: block;
    z-index: -1;
    position: absolute;
    width: 290px;
    height: 249px;
    top: 214px;
    left: 344px;
}
.plumbers-svg-line-window_5{
	    display: block;
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 249px;
    top: -113px;
    left: 344px;
}
.clothing-svg-line-window_4{
	    display: block;
    z-index: -1;
    position: absolute;
	width: 432px;
    height: 249px;
    top: -501px;
    left: 196px;
}
.plumbers-svg-line-window_4{
	display: block;
    z-index: -1;
    position: absolute;
    width: 321px;
    height: 249px;
    top: -550px;
    left: 316px;
}
.plumbers-svg-line-window_2{
	display: block;
    z-index: -1;
    position: absolute;
    width: 258px;
    height: 249px;
    top: -200px;
    left: 300px;
}
.clothing-svg-line-mobile{
	display: none;
}
.restaurant-svg-line-mobile{
	display: none;
}
.taxis-svg-line-mobile{
	display: none;
}
.restaurant-svg-line-window_2{
    display: block;
    z-index: -1;
    position: absolute;
    width: 500px;
    /* height: 1000px; */
    top: -10px;
    left: 289px;

}

.restaurant-svg-line-window_3{
	display: block;
    z-index: -1;
    position: absolute;
    width: 500px;
    height: 300px;
    top: 206px;
    left: 287px;

}
.restaurant-svg-line-mobile_3{
	display: none;
}
.restaurant-svg-line-window_4{
    display: block;
    z-index: -1;
    position: absolute;
    width: 314px;
    height: 118px;
    top: -5px;
    left: 531px;
}
.restaurant-svg-line-window_5{
    display: block;
    z-index: -1;
    position: absolute;
    width: 387px;
    height: 300px;
    top: 150px;
    left: 364px;
}
.restaurant-svg-line-mobile_5{
	display: none;
}
.clothing-store-img{
	width:50%;
}
.taxis-percentagem-font{
	position: absolute;
    color: #FB5223;
    font-size: 53px;
    font-family: arial;
    transform: translateY(125%);
    font-style: italic;
}
.background-image-about-us{
	background-image: url("/assets/images/background-about-us.svg");
}
.img-background-about-us{
	width: 100%;
    position: absolute;
  	top: 80vh;
}
.about-us-first-text{
	font-family: arial;
	font-size: 17px;
}
.about-us-square-plus{
	display: table-cell;
    width: 70px;
    height: 70px;
    background-color: #ffc31f;
    box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.5);
}
.about-us-squares-position{
    position: absolute;
    top: 50%;
    cursor: pointer

}
.about-us-square-plus_2{
	display: table-cell;
    width: 70px;
    height: 70px;
    background-color: #ffc31f;
    box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.5);
}
.icon-about-us::before{
	cursor: pointer;
	position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center; */
    transform: translate(-150%, -50%);
    /* left: 50%; */
    padding: 0;
    margin: 0;
    font-size: 33px;
    /* line-height: 48px; */
    color: white;
}
.about-us-plus-info{
	position: relative;
    top: calc(50% + 70px);
    display: block;
    width: 70px;
	height: 70px;
	background-color: #fb5223;
	box-shadow: 4px 3px 8px -1px rgba(0,0,0,0.5);
}
.about-us-bg-content{
	padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 104px;
    padding-left: 75px;
    display: block;
    background-size: cover;
    background-image: url(/assets/images/about-us-background-text.svg);
    width: 100%;

}
.about-us-text-content p{
	color: white;
	font-size: 17px;
	font-family: arial;
	text-align: justify;
}
.tag-a-class{
	color:none;
	text-decoration: none !important;
}


/*SQUARES ANIMATION HEADER*/
.square_header_animation{
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.16);
	display: block;
	position:absolute;
	width: calc(100vw / 27);
	height: calc(100vw / 27);
	background-color: #ffffff38;
	backdrop-filter: blur(22px);
	transition-duration: 0.3s;
}


.div_animated_1 .square_position_2{
	top: calc(100vw/27); 
	left: calc(100vw/27);
}


.div_animated_1 .square_position_3{
	top: calc(100vw/27); 
	left: calc(2*(100vw/27));
}
.div_animated_1 .square_color_3{
	background-color: #1985A1;
}



.div_animated_1 .square_position_4{
	top: calc(100vw/27); 
	left: calc(3*(100vw/27));
}



.div_animated_1 .square_position_5{
	top: calc(2*(100vw/27));
	left: calc(3*(100vw/27));
}
.div_animated_1 .square_position_5{
	background-color: #FB5223;
}


.div_animated_1 .square_position_6{
	top: calc(3*(100vw/27));
	left: calc(2*(100vw/27));
}
.div_animated_1 .square_position_6{
	background-color: #ffffff59;
}

.div_animated_1 .square_position_7{
	top: calc(3*(100vw/27));
	left: calc(3*(100vw/27));
}


.div_animated_1 .square_position_8{
	top: calc(4*(100vw/27));
}


.div_animated_1 .square_position_9{
	top: calc(4*(100vw/27));
	left: calc(2*(100vw/27));
}
.div_animated_1 .square_color_9{
	background-color: #8019B3;
}



.div_animated_1 .square_position_10{
	top: calc(5*(100vw/27));
	left: calc(100vw/27);
}


.div_animated_1 .square_position_11{
	top: calc(5*(100vw/27));
	left: calc(3*(100vw/27));
}
.div_animated_1{
	position: absolute;

	width: calc((100vw/27)* 4);
	height: calc((100vw/27)* 6);
	top:25vh;
}

.div_animated_1 .square_position_12{
	opacity: 0;
	left: calc(2*(100vw/27));
}

.div_animated_1 .square_position_13{
	opacity: 0;
	left: calc(100vw/27);
	top: calc(3*(100vw/27));
}

.div_animated_1:hover .square_position_1{
	transform: translateY( calc(2*(100vw/27)) );
	transition-duration: 0.3s;
}
.div_animated_1:hover .square_position_2{

	transform: translate( calc(2*(100vw/27)), calc(100vw/27));
	transition-duration: 0.3s;
}
.div_animated_1:hover .square_position_12{
	opacity: 1;
	transition-duration: 0.3s;
}
.div_animated_1:hover .square_position_13{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_2{
	position: absolute;;
	width: calc((100vw/27*4));
	height: calc((100vw/27*4));
	top: 25vh;
	left: calc((100vw/27*4));
} 

.div_animated_2 .square_position_1{
	left: calc(100vw/27);
}

.div_animated_2 .square_position_2{
	left: calc(100vw/27*3);
}
.div_animated_2 .square_position_3{
	top: calc(100vw/27);
	left: calc(100vw/27);
}
.div_animated_2 .square_position_4{
	left: calc(100vw/27*2);
	top: calc(100vw/27);
}
.div_animated_2 .square_position_5{
	left: calc(100vw/27*3);
	top: calc(100vw/27*2);
}
.div_animated_2 .square_color_5{
	background-color: #8AC926;
}

.div_animated_2 .square_position_6{
	left: calc(100vw/27*2);
	top: calc(100vw/27*3);
}
.div_animated_2 .square_position_7{
	left: calc(100vw/27);
}
.div_animated_2 .square_color_7{
	background-color: #FFC31F;
}
.div_animated_2:hover .square_position_7{
	transform: translateX(calc(100vw/-27*2));
	transition-duration: 0.3s;
}
.div_animated_2:hover .square_position_3{
	top: calc((100vw/27)*3);
	transition-duration: 0.3s;
}
.div_animated_2 .square_position_8{
	opacity: 0;
	left: calc(100vw/-27);
	top: calc((100vw/27)*3);
	background-color: #ffffff59;
}
.div_animated_2:hover .square_position_8{
	opacity: 1;
	transition-duration: 0.3s;
}


.div_animated_3{
	position: absolute;
	width: calc((100vw/27*6));
	height: calc((100vw/27*4));
	top: 10vh;
	left: 50vw;
}

.div_animated_3 .square_position_1{
	left:calc(100vw/27*3);
}
.div_animated_3 .square_position_2{
	left: calc(100vw/27*5);
}
.div_animated_3 .square_position_3{
	left: calc(100vw/27);
	top: calc(100vw/27);
}
.div_animated_3 .square_color_3{
	background-color: #1985A1;
}
.div_animated_3 .square_position_4{
	left: calc(100vw/27*3);
	top: calc(100vw/27);
}
.div_animated_3 .square_position_5{
	left: calc(100vw/27*4);
	top: calc(100vw/27);
}
.div_animated_3 .square_color_5{
	background-color: #8019B3;
}
.div_animated_3 .square_position_6{
	left: calc(100vw/27);
	top: calc(100vw/27*2);
}
.div_animated_3 .square_position_7{
	top: calc(100vw/27*2);
	left: calc(100vw/27*5);
}

.div_animated_3 .square_position_8{
	top: calc(100vw/27*3);
}
.div_animated_3 .square_position_9{
	top: calc(100vw/27*3);
	left: calc(100vw/27*4);
}
.div_animated_3 .squared_color_9{
	background-color: #FFC31F;
}
.div_animated_3:hover .square_position_4{
	transform: translateX(calc(100vw/-27*3));
	transition-duration: 0.3s;
}
.div_animated_3:hover .square_position_6{
	transform: translateY(calc(100vw/27));
	transition-duration: 0.3s;
}
.div_animated_3:hover .square_position_7{
	transform: translateY(calc(100vw/-27));
	transition-duration: 0.3s;
}
.div_animated_3:hover .square_position_8{
	transform: translateX(calc(100vw/27*3));
	transition-duration: 0.3s;
}
.div_animated_3:hover .square_position_9{
	transform: translateY(calc(100vw/-27));
	transition-duration: 0.3s;
}
.div_animated_3 .square_position_10{
	opacity: 0;
}
.div_animated_3:hover .square_position_10{
	opacity: 1;
	transition-duration: 0.3s;
}
.div_animated_3 .square_position_11{
	opacity: 0;
	top: calc(100vw/27*2);
}
.div_animated_3:hover .square_position_11{
	opacity: 1;
	transition-duration: 0.3s;
}
.div_animated_4{
	position: absolute;
	width: calc(100vw/27*6);
	height: calc(100vw/27*4);
	top:45vh;
	right: calc(100vw/27*5);

}
.div_animated_4 .square_position_1{
	left: calc(100vw/27*3);
}
.div_animated_4 .square_position_2{
	left: calc(100vw/27*5);
}
.div_animated_4 .square_position_3{
	top: calc(100vw/27);
	left: calc(100vw/27);
}
.div_animated_4 .square_position_4{
	top: calc(100vw/27);
	left: calc(100vw/27*3);
}
.div_animated_4 .square_position_5{
	top: calc(100vw/27);
	left: calc(100vw/27*4);
}
.div_animated_4 .square_color_5{
	background-color: #8019B3;
}
.div_animated_4 .square_position_6{
	top: calc(100vw/27*2);
	left: calc(100vw/27); 
}
.div_animated_4 .square_color_6{
	background-color: #8AC926;
}
.div_animated_4 .square_position_7{
	top: calc(100vw/27*2);
	left: calc(100vw/27*5); 
}

.div_animated_4 .square_position_8{
	top: calc(100vw/27*3);
}
.div_animated_4 .square_position_9{
	top: calc(100vw/27*3);
	left: calc(100vw/27*4); 
}
.div_animated_4 .square_position_10{
	left: calc(100vw/27*5);
}
.div_animated_4:hover .square_position_10{
	transform: translateY(calc(100vw/27));
	transition-duration: 0.3s;
}
.div_animated_4:hover .square_position_3{
	transform: translateX(calc(100vw/-27));
	transition-duration: 0.3s;
}
.div_animated_4:hover .square_position_4{
	transform: translateX(calc(100vw/-27));
	transition-duration: 0.3s;
}
.div_animated_4:hover .square_position_5{
	transform: translateY(calc(100vw/-27));
	transition-duration: 0.3s;
}

.div_animated_4:hover .square_position_8{
	transform: translateX(calc(100vw/27*3));
	transition-duration: 0.3s;
}

.div_animated_4:hover .square_position_9{
	transform: translateX(calc(100vw/27));
	transition-duration: 0.3s;
}
.div_animated_4 .square_position_11{
	opacity: 0;
	left: calc(100vw/27*3);
	top: calc(100vw/27*2);
}
.div_animated_4:hover .square_position_11{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_4 .square_position_12{
	opacity: 0;
	left: calc(100vw/27);
	top: calc(100vw/27*3);
}
.div_animated_4:hover .square_position_12{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_5{
	position: absolute;
	width: calc(100vw/27*5);
	height: calc(100vw/27*4);
	right: 0;
	top:calc(45vh - calc(100vw/27*3));
}
.div_animated_5 .square_position_1{
	left: calc(100vw/27*2);
}
.div_animated_5 .square_position_2{
	left: calc(100vw/27*4);
}
.div_animated_5 .square_position_3{
	top: calc(100vw/27);
}
.div_animated_5 .square_color_3{
	background-color: #1985A1;
}

.div_animated_5 .square_position_4{
	top: calc(100vw/27);
	left: calc(100vw/27*2);
}

.div_animated_5 .square_color_4{
	background-color: #8AC926;
}

.div_animated_5 .square_position_5{
	top: calc(100vw/27);
	left: calc(100vw/27*3);
}
.div_animated_5 .square_position_6{
	top: calc(100vw/27*2);
}

.div_animated_5 .square_position_7{
	top: calc(100vw/27*2);
	left: calc(100vw/27*4);
}
.div_animated_5 .square_color_7{
	background-color: #FFC31F;
}

.div_animated_5 .square_position_8{
	top: calc(100vw/27*3);
	left: calc(100vw/27*3);
}

.div_animated_5:hover .square_position_3{
	transform: translateY(calc(100vw/-27));
	transition-duration: 0.3s;
}

.div_animated_5:hover .square_position_4{
	transform: translateY(calc(100vw/27));
	transition-duration: 0.3s;
}
.div_animated_5:hover .square_position_6{
	transform: translate(calc(100vw/27), calc(100vw/-27));
	transition-duration: 0.3s;
}
.div_animated_5:hover .square_position_7{
	transform: translateY(calc(100vw/27*3));
	transition-duration: 0.3s;
}

.div_animated_5 .square_position_9{
	opacity: 0;
	left: calc(100vw/27*3);
}

.div_animated_5:hover .square_position_9{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_5 .square_position_10{
	opacity: 0;
	left: calc(100vw/27*4);
	top: calc(100vw/27*3);
}

.div_animated_5:hover .square_position_10{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_5 .square_position_11{
	opacity: 0;
	left: calc(100vw/27*2);
	top: calc(100vw/27*4);
}

.div_animated_5:hover .square_position_11{
	opacity: 1;
	transition-duration: 0.3s;
}

.div_animated_5 .square_position_12{
	opacity: 0;
	top: calc(100vw/27*5);
}

.div_animated_5:hover .square_position_12{
	opacity: 1;
	transition-duration: 0.3s;
}
/*//SQUARES ANIMATION HEADER*/

.body-load{
	background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
}
.body-load img{
	width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.about-us-title{
	font-size: 50px;
    font-weight: bold;
}
.about-us-text-content{
	color: white;
}
.title-Services{
	font-size: 35px;

	font-weight: bold;
}
.text-Services{
	font-size: 26px;
    line-height: 30px;

}
.icon-Services:before{
	font-size: 95px;
}